<%= form_with model: category,url: restaurant_categories_path(@restaurant),method: "post" do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
    <%= form.submit %>
  </p>
<% end %>